.content {
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.d1 {
  background: #efe8e8;
}

.d2 {
  background: #ecefe8;
}

.d3 {
  background: #e0eaec;
}