.content{
  padding: 20px;
  display: flex;
  width: 500px;
  height: calc(100vh - 40px);
  overflow: scroll;
}

.gsa__container {
  width: 600px;
  height: 1361px;

}

.a0{
  position: relative;
  top: 80px;
  left: 350px;
}

.a1{
  position: relative;
  top: 210px;
  left: 315px;
}

.a2{
  position: relative;
  top: 400px;
  left: 280px;
}
.a3{
  position: relative;
  top: 540px;
  left: 240px;
}

.a4{
  position: relative;
  top: 610px;
  left: 205px;
}
.a5{
  position: relative;
  top: 770px;
  left: 170px;
}
.a6{
  position: relative;
  top: 830px;
  left: 135px;
}
.a7{
  position: relative;
  top: 940px;
  left: 100px;
}
.a8{
  position: relative;
  top: 1090px;
  left: 65px;
}

.a9{
  position: relative;
  top: 1250px;
  left: 30px;
}