.content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #e0eaec;
  padding: 10px;
  margin-left: 10px;
}

.box {
  display: flex;
  flex-direction: column;
}

.box__item{
  display: flex;
  flex-direction: row;
}

button {
  width: 100%;
  margin: 4px;
}